<div class="container">
  <h1 class="text-center mt-5">
    <%= @pokemon['name'].capitalize %>
  </h1>
</div>
<div class="container mt-5  d-flex justify-content-center">
  <div class="card border border-black border-4" style="width: 18rem;">
    <img src="<%= @pokemon['sprites']['front_default'] %>" class="card-img-top" alt="<%= @pokemon['name'] %> sprite">
    <div class="card-body">
      <h5 class="card-title"><%= @pokemon['name'].capitalize %></h5>
      <p class="card-text">
        Height: - <%= @pokemon['height'] %>
      </p>
      <p>
        Weight: - <%= @pokemon['weight'] %>
      </p>
      <div>
        <strong>Abilities:</strong>
        <% @pokemon['abilities'].each do |ability|  %>
          <p><%= ability['ability']['name'] %></p>
        <% end %>
      </div>
    </div>
  </div>
  </div>
    <%= link_to 'Back to Index', pokemons_path %>
