<div class="container">
  <h1 class="text-center mt-5 text-dark">
    <%= @pokemon['name'].capitalize %>
  </h1>
</div>
<div class="container mt-5  d-flex justify-content-center">
  <div class="card border border-black border-4" style="width: 20rem;">
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/<%= @pokemon['id'] %>.png" class="card-img-top" alt="<%= @pokemon['name'] %> sprite">
    <div class="card-body">
      <h5 class="card-title"><%= @pokemon['name'].capitalize %></h5>
      <p class="card-text">
        Height: - <%= @pokemon['height'] %>
      </p>
      <p>
        Weight: - <%= @pokemon['weight'] %>
      </p>
      <p>
        Base Experience: - <%= @pokemon['base_experience'] %>
      </p>
      <p>
        Species: - <%= @pokemon['species']['name'] %>
      </p>
      <p>
         Types:
        <% @pokemon['types'].each do |type| %>
          <% type_class = "badge-#{type['type']['name']}" %>
          <span class="badge <%= type_class %>"><%= type['type']['name'].capitalize %></span>
        <% end %>
      </p>
      <p>
        Stats:
        <% @pokemon['stats'].each do |stat| %>
          <span class="badge bg-warning text-dark"><%= stat['stat']['name'] %>: <%= stat['base_stat'] %></span>
        <% end %>
      </p>

      <%= link_to 'Back to Index', pokemons_path, class: 'btn btn-warning stretched-link text-decoration-none font-weight-bold text-light mb-4' %>
    </div>
  </div>
  </div>
