<!DOCTYPE html>
<html>
  <head>
    <title>Pokedex</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@100..800&family=Outfit:wght@100..900&family=Play:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  </head>

  <body class="p-3 mb-2 bg-danger text-white">
    <%= yield %>
    <footer class="text-center mt-5">
      <p class="text-light fs-6 fw-light">This footer was made by David with ruby on rails. Click <a href="https://github.com/davidgomescarvalho/pokedex" target="_blank" class="text-decoration-none text-dark"><strong>here</strong></a> to access my github repository </p>

    </footer>
  </body>
</html>
